<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <title>PyDay Córdoba 2012</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="python, pyday, cordoba, 2012, software libre" />
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand:400" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Quicksand:700" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css' />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4650617-16']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
      <div id="header">
        <div id="header-wrapper">
          {% if not register_ended %}
	          <div id="nav">
	            <ul id="user">
	              {% if username %}
	                  <li><a href="/profile">Perfil</a></li>
	                  <li><a href="{{ logout }}">Cerrar sesión</a></li>
	              {% else %}
	                  <li><a href="{{ login }}">Iniciar sesión</a></li>
	              {% endif %}
	            </ul>
	            <ul id="relevant">
	              {% if not is_attendee %}
	                <li><a href="/register" {{ register_selected }}>¡Inscribite!</a></li>
	              {% endif %}
	              {% if not propose_ended %}
	                <li><a href="/propose" {{ propose_selected }}>Proponé tu charla</a></li>
	              {% endif %}
	            </ul>
	          </div>
	      {% endif %}

          <p id="days-left">{{ daysleft0 }} <span>{{ daysleft1 }}</span> {{ daysleft2 }}</p>
        </div>
      </div>
