        <div id="sponsors">
            <h2>Sponsors</h2>

            <h4>Diamante</h4>
            <ul><li><img src="static/img/googlelogo.png" alt="Google"/></li></ul>
            <h4>Platino</h4>
            <ul>
              <li><a class="sponsor" href="http://www.machinalis.com" target="_blank"><img src="static/img/machinalislogo.png" alt="Machinalis" /></a></li>
              <li><a class="sponsor" href="http://ninja-ide.org" target="_blank"><img src="static/img/ninjaidelogo.png" alt="NINJA IDE" /></a></li>
            </ul>
            <h4>Oro</h4>
            <ul>
              <li><a class="sponsor" href="http://www.glubatec.com" target="_blank"><img src="static/img/glubateclogo.png" alt="Glubatec" /></a></li>
              <li><a class="sponsor" href="http://www.immunityinc.com" target="_blank"><img src="static/img/immunitylogo.png" alt="IMMUNITY" /></a></li>
              <li><a class="sponsor" href="http://www.intel.com/opensource" target="_blank"><img src="static/img/intellogo.png" alt="Intel"></a></li>
              <li><a class="sponsor" href="http://www.tallertechnologies.com/" target="_blank"><img src="static/img/tallertechnologieslogo.png" alt="Taller Technologies"></a></li>
            </ul>
            <ul>
              <li><a class="menu{{ is_active }}" href="/prospectus">Ser sponsor</a></li>
            </ul>
          </div>
        </div>
