        <div id="sponsors">
            <h2>Sponsors</h2>

<!--        <h4>Diamante</h4>
            <ul><li><a class="sponsor" href="#" target="_blank"><img src="static/img/sponsor1.png" alt="Sponsor 1"/></a></li></ul>-->
            <h4>Platino</h4>
            <ul>
              <li><a class="sponsor" href="http://ninja-ide.org" target="_blank"><img src="static/img/sponsor2.png" alt="NINJA IDE" /></a></li>
<!--              <li><a class="sponsor" href="#">Sponsor2</a></li>-->
            </ul>
<!--            <h4>Oro</h4>
            <ul>
              <li><a class="sponsor" href="#">...</a></li>
              <li><a class="sponsor" href="#">...</a></li>
              <li><a class="sponsor" href="#">...</a></li>
            </ul>-->
            <ul>
              <li><a class="menu{{ is_active }}" href="/prospectus">Ser sponsor</a></li>
            </ul>
          </div>
        </div>
