<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <title>PyDay Córdoba 2012 - Más info</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="python, pyday, cordoba, 2012, software libre" />
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css' />
  </head>

  <body>
      <div id="header">
        <div id="header-wrapper">

          <div id="nav">
            <ul id="user">
              <li><a href="#">Iniciar sesión</a></li>
            </ul>
            <ul id="relevant">
              <li><a href="/register">¡Inscribite!</a></li>
              <li><a href="#">Proponé tu charla</a></li>
            </ul>
          </div>

          <p id="days-left"><script type="text/javascript" src="static/js/daysleft.js"></script></p>
        </div>
      </div>

      <div id="page">
        <div id="frame">
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="content">
            <h2>¿Qué es Python?</h2>
            <div class="text">
              <p>Python es un lenguaje de programación de alto nivel cuya filosofía hace hincapié en una sintaxis muy limpia y que favorezca un código legible.</p>
              <p>Se trata de un lenguaje multiparadigma ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, usa tipado dinámico, es fuertemente tipado y multiplataforma.</p>
              <p>Posee una licencia de código abierto y es administrado por la Python Software Foundation.</p>
              <p>Fuente: <a href="http://es.wikipedia.org/wiki/Python" target="_blank">Wikipedia</a></p>
            </div>

            <h2>¿Qué es PyAr?</h2>
            <div class="text">
              <p><a href="http://python.org.ar/pyar/" target="_blank">PyAr</a> es la comunidad local de usuarios de Python que nuclea a todos los interesados en este lenguaje en la Argentina. Pretende llegar a usuarios y empresas, promover el uso del lenguaje, intercambiar información, compartir experiencias y, en general, ser el marco de referencia local en el uso y difusión de esta tecnología.</p>
            </div>

            <h2>¿Qué necesito para asistir?</h2>
            <div class="text">
              <p>Para asistir al PyDay lo único que necesitás es <a href="/register">registrarte previamente</a> vía web, la entrada es libre y gratuita.</p>
              <p>El evento está dirigido a cualquier persona interesada en compartir información y aprender sobre el lenguaje de programación Python. Por eso, todo aquél que quiera asistir para compartir sus experiencias, iniciarse en Python (o en programación) o simplemente conocer gente del rubro es bienvenido a participar.</p>
            </div>
          </div>
        </div>

        <div id="sidebar">
          <ul>
            <li><a class="menu active" href="#">Más info</a></li>
            <li><a class="menu" href="#">Cómo llegar</a></li>
            <li><a class="menu" href="#">Programa</a></li>
            <li><a class="menu" href="#">Asistentes</a></li>
            <li><a class="menu" href="#">Remeras</a></li>
          </ul>

          <div id="sponsors">
            <h2>Sponsors</h2>

            <h3>Diamante</h3>
            <ul><li><a class="sponsor" href="#" target="_blank"><img src="static/img/sponsor1.png" alt="Sponsor 1"/></a></li></ul>
            <h3>Platino</h3>
            <ul>
              <li><a class="sponsor" href="http://ninja-ide.org" target="_blank"><img src="static/img/sponsor2.png" alt="NINJA IDE" /></a></li>
              <li><a class="sponsor" href="#">Sponsor2</a></li>
            </ul>
            <h3>Oro</h3>
            <ul>
              <li><a class="sponsor" href="#">...</a></li>
              <li><a class="sponsor" href="#">...</a></li>
              <li><a class="sponsor" href="#">...</a></li>
            </ul>
            <ul>
              <li><a class="menu" href="#">Ser sponsor</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="footer">
        <div id="footer-wrapper">
          <p><span>El código del sitio se encuentra bajo licencia GNU GPLv3.</span> | <span><a href="https://groups.google.com/group/pyday-cba" target="_blank">pyday-cba@googlegroups.com</a></span> | <span>Más Información: <a href="http://python.org.ar/pyar/Eventos/Conferencias" target="_blank">http://python.org.ar/</a></span></p>
        </div>
      </div>
  </body>
</html>
