{% include "../header.html" %}

      <div id="page">
        <div id="frame">
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="content">
            <h2>Programa</h2>
             <table class="schedule">
              <tbody>
                <tr>
                  <th width="90px"></th>
                  <th><span class="hall-name">Sala de Google</span> <span class="hall-desc">(track principiante)</span></th>
                  <th><span class="hall-name">Sala de Machinalis</span> <span class="hall-desc">(track intermedio/avanzado)</span></th>
                </tr>
                <tr>
                  <td>08:00 - 09:30</td>
                  <td colspan="2">Registración</td>
                </tr>
                <tr>
                  <td>09:30 - 10:10</td>
                  <td class="popover-left" rel="popover" data-content="Una forma diferente para desarrollar y modelar tus ideas en software. ¡Escribir tests antes que el código de tu software está bueno!
                                                            Te ayuda a tener un código más claro, mantenible, documentado ¡y hasta puede que con menos bugs!
                                                            Vení a esta charla si querés aprender un poco de tests unitarios, doctests y tests de integración."
                                          data-original-title="Descripción">
                      En el primer día del origen del mundo se hicieron los tests... y se vio que era bueno <span class="sch-author">(Emiliano Dalla Verde Marcozzi)</span></td>
                  <td class="popover-right" rel="popover" data-content="En este trabajo se propone comentar la construcción y documentación de una librería en Python que incluye la implementación de varios
                                                            algoritmos para el filtrado del ruido speckle y de clasificación de imágenes satelitales de RADAR SAR (Synthetic Aperture Radar) así como también
                                                            se incluyen en la librería una basta variedad de algoritmos, herramientas y utilidades para realizar diversas operaciones con imágenes satelitales de Radar.">
                      Python como lenguaje para el procesamiento de imágenes satelitales <span class="sch-author">(Matías Herranz)</span></td>
                </tr>
                <tr>
                  <td>10:20 - 11:00</td>
                  <td class="popover-left" rel="popover" data-content="No existe software de calidad sin una documentación que lo demuestre. Y Python no sólo se destaca como lenguaje y comunidad:
                                                            también por su \"cultura de la documentación\". La charla dará ideas, herramientas, servicios y demás yerbas para ser un pythonista de ley, documentado.">
                      __doc__ """para todos y todas""" <span class="sch-author">(Martín Gaitán)</span></td>
                  <td class="popover-right" rel="popover" data-content="virtualenvwrapper es un conjunto de extensiones para la herramienta virtualenv creada por Ian Bicking para la creación de entornos de
                                                             desarrollo de Python aislados. Estas extensiones incluyen facilidades para la creación y eliminación de los entornos virtuales y otra manera de
                                                             gestión del flujo de trabajo de desarrollo, por lo que es más fácil trabajar en más de un proyecto a la vez sin la introducción de los conflictos
                                                             en sus dependencias.">
                      Virtualenvwrapper <span class="sch-author">(Emilio Ramirez)</span></td>
                </tr>
                <tr>
                  <td>11:10 - 11:50</td>
                  <td class="popover-left" rel="popover" data-content="Introducción y generalidades sobre Django con ejemplos prácticos para brindar un pantallazo sobre de qué va este genial framework web.">
                      De cero a Django en 45 minutos <span class="sch-author">(Matías Herranz)</span></td>
                  <td class="popover-right" rel="popover" data-content="Esta charla presenta una introducción a ctypes: cómo interactuar desde Python con código C ya existente provisto por librerías dinámicas.">
                      No rehusarse a reusar C <span class="sch-author">(Matias Bordese)</span></td>
                </tr>
                <tr>
                  <td>12:00 - 12:40</td>
                  <td class="popover-left" rel="popover" data-content="South posibilita migraciones en los modelos de las apps de Django. Sus principales objetivos son proporcionar una capa de la migración
                                                            simple, estable e independiente de la base de datos para evitar que todos los cambios en el tiempo de las app de Django sean molestos.">
                      Django South <span class="sch-author">(Emilio Ramirez)</span></td>
                  <td class="popover-right" rel="popover" data-content="En esta charla vas a aprender a escribir un servidor y un cliente que se comunican por red en un protocolo que vos especifiques.
                                                             También espero te lleves una idea de cómo dar solución cuando tengas procesos bloqueantes, utilizando los deferreds que provee Twisted, y
                                                             sabiendo las diferencias entre threads, subprocesos y corrutinas.">
                      Programación asíncrona de servidores y clientes de red usando Twisted <span class="sch-author">(Emiliano Dalla Verde Marcozzi)</span></td>
                </tr>
                <tr>
                  <td>12:40 - 14:00</td>
                  <td colspan="2">Almuerzo</td>
                </tr>
                <tr>
                  <td>14:00 - 14:40</td>
                  <td class="popover-left" rel="popover" data-content="Arduino permite que nuestros programas Python se escapen de la pantalla, el teclado y el mouse para lograr construir objetos y
                                                            ambientes interactivos. Todo esto de una manera sencilla y respetando la filosofía del software libre.">
                      Controlando Python desde Arduino <span class="sch-author">(Alejandro J. Cura)</span></td>
                  <td class="popover-right" rel="popover" data-content="Esta charla presenta la evolución de Python, la versión 3 del lenguaje (a.k.a. Python 3000), y explica las razones por las
                                                             cuales se planeó y ejecutó esta evolución. Además de las nuevas características del lenguajes y mejoras generales se detallan los cambios
                                                             que presentarán problemas de compatibilidad, y las estrategias para migrar de la rama actual (Python 2) a esta nueva versión: cómo y cuándo
                                                             migrar, y qué herramientas tendremos como ayuda.">
                      Python 3000 <span class="sch-author">(Facundo Batista)</span></td>
                </tr>
                <tr>
                  <td>14:50 - 15:30</td>
                  <td class="popover-left" rel="popover" data-content="La idea de la charla es mostrar cómo desarrollar UI con QML, cómo pensar nuestras interfaces al utilizar esta herramienta,
                                                            las virtudes de esta tecnología y cómo nos puede servir para hacer juegos de forma fácil.">
                      Haciendo juegos e interfaces copadas con QML <span class="sch-author">(Diego Sarmentero)</span></td>
                  <td class="popover-right" rel="popover" data-content="PyPy es una implementación de Python hecha en Python mismo. Esta charla se concentrará en analizar la eficiencia con que corren
                                                            scripts Python usando PyPy, la compatibilidad respecto de la implementación de Python en C (CPython). Además, se hablará del compilador
                                                            Just-In-Time y el lenguaje base Restrictive Python (RPython). También se hablará de cuán fácil/difícil es efectivamente empezar a usar PyPy
                                                            para correr una aplicación concreta.">
                      Me voy a hacer PyPy <span class="sch-author">(Natalia Bidart)</span></td>
                </tr>
                <tr>
                  <td>15:40 - 16:20</td>
                  <td class="popover-left" rel="popover" data-content="En el contexto de la nueva especialidad en Programación que incorporó el ITS Villada (secundario de la Provincia de Córdoba)
                                                            se eligió el lenguaje Python para la formación en competencias fundamentales de los futuros técnicos.">
                      Python en la escuela <span class="sch-author">(Pablo Cánepa)</span></td>
                  <td class="popover-right" rel="popover" data-content="Una introducción, actualizada, a las colas de tareas con Celery y Django.">
                      Haciendo colas para esperar menos | Django y Celery <span class="sch-author">(Matías Iturburu)</span></td>
                </tr>
                <tr>
                  <td>16:30 - 17:10</td>
                  <td class="popover-left" rel="popover" data-content="Los logs son fáciles de hacer, pero también los debemos hacer útiles. Esta charla es una colección de recomendaciones para
                                                            aprender a loguear de forma eficiente y útil, a partir de la experiencia del uso de logging en un producto utilizado por millones de
                                                            personas en distintos entornos.">
                      Cómo los logs me salvaron el alma <span class="sch-author">(Facundo Batista)</span></td>
                  <td class="popover-right" rel="popover" data-content="Con el advenimiento de las aplicaciones móviles cada vez es más necesario proveer APIs REST en nuestros sitios. Tastypie
                                                             permite crear APIs REST customizables y extensibles con Python y Django.">
                      RESTful APIs con Tastypie <span class="sch-author">(Santiago Basulto)</span></td>
                </tr>
                <tr>
                  <td>17:20 - 18:00</td>
                  <td>Charlas relámpago</td>
                </tr>
                <tr>
                  <td>18:00</td>
                  <td class="popover-left" rel="popover" data-content="Voy a hacer un repaso sobre las constantes de tiempo fundamentales para la ejecucion de un programa en una computadora.
                                                            Vamos a tratar de entender las diferencias de escala y en que momento nos afecta y debemos trabajar para obtener el resultado deseado.
                                                            Vamos a tratar de acercar estos detalles de bajo nivel a su efecto a los programas en python con algunos ejemplos. Presentamos la idea
                                                            de \"mechanical sympathy\", y vemos como la velocidad de ejecucion no es solo algo para evaluar despues de implementada la solución.">
                      Charla plenaria: Las constantes fundamentales de la programación <span class="sch-author">(Lucio Torre)</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="sidebar">
          <ul>
            <li><a class="menu" href="/about">Más info</a></li>
            <li><a class="menu" href="/venue">Cómo llegar</a></li>
            <li><a class="menu" href="/attendees">Asistentes</a></li>
            <li><a class="menu active" href="/schedule">Programa</a></li>
            <!--li><a class="menu" href="/tshirt">Remeras</a></li-->
          </ul>

    {% include "../sponsors.html" %}

      </div>
      
      <script type="text/javascript" src="../../static/js/jquery-1.8.0.min.js"></script>
      <script type="text/javascript" src="../../static/js/bootstrap.min"></script>
      <script type="text/javascript" src="../../static/js/bootstrap-tooltip.js"></script>
      <script type="text/javascript" src="../../static/js/bootstrap-popover.js"></script>
      <script type="text/javascript">
      	$(function(){
      		$('.popover-left').attr('data-placement','left');
      		$('.popover-left').attr('data-trigger', 'hover');
      		$('.popover-left').attr('data-original-title', 'Descripción');
      		$('.popover-left').popover();
      		
      		$('.popover-right').attr('data-trigger', 'hover');
      		$('.popover-right').attr('data-original-title', 'Descripción');
      		$('.popover-right').popover();
      	});
      </script>

  {% include "../footer.html" %}
