{% include "../header.html" %}

      <div id="page">
        <div id="frame">
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="content">
            <h2>Error 404</h2>
            <div class="description">
              <p>La página a la que intentó acceder no existe.</p>
            </div>
          </div>
        </div>

        <div id="sidebar">
          <ul>
            <li><a class="menu" href="/about">Más info</a></li>
            <li><a class="menu" href="/venue">Cómo llegar</a></li>
            <li><a class="menu" href="/attendees">Asistentes</a></li>
            <li><a class="menu unavailable">Programa</a></li>
            <!--li><a class="menu" href="/tshirt">Remeras</a></li-->
          </ul>


    {% include "../sponsors.html" %}

      </div>
    </div>

  {% include "../footer.html" %}



