{% include "../header.html" %}

      <div id="page">
        <div id="frame">
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="content">
            <h2>Iniciar sesión</h2>
            <div class="description">
              <p>Conectate con tu cuenta en:</p>
            </div>

          <div id="providers">
            <ul id="col1">
              <li class="provider" id="google"><a href=""></a></li>
              <li class="provider" id="yahoo"><a href=""></a></li>
              <li class="provider" id="twitter"><a href=""></a></li>
              <li class="provider" id="facebook"><a href=""></a></li>
            </ul>
            <ul id="col2">
              <li class="provider" id="live"><a href=""></a></li>
              <li class="provider" id="linkedin"><a href=""></a></li>
              <li class="provider" id="aol"><a href=""></a></li>
              <li class="provider" id="openid"><a href=""></a></li>
            </ul>
          </div>
          <div class="visualclear"></div>
          </div>
        </div>
   
        <div id="sidebar">
          <ul>
            <li><a class="menu" href="/about">Más info</a></li>
            <li><a class="menu" href="/venue">Cómo llegar</a></li>
            <li><a class="menu" href="/attendees">Asistentes</a></li>
            <li class="menu unavailable">Programa</li>
            <li class="menu unavailable">Remeras</li>
          </ul>
        

    {% include "../sponsors.html" %}

      </div>
    </div>

  {% include "../footer.html" %}



