{% extends "../base.html" %}

{% block page_title %}PyDay Córdoba 2012 - Iniciar sesión{% endblock %}

{% block above_content %}
<p><a class="backtohome" href="/">Volver al inicio</a></p>
{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>
<div class="description">
  <p>Conectate con tu cuenta de:</p>
</div>

<div id="providers">
  <ul id="col1">
    <a href="{{ google }}"><li class="provider" id="google"></li></a>
    <a href="{{ openid }}"><li class="provider" id="openid"></li></a>
    <a href="{{ yahoo }}"><li class="provider" id="yahoo"></li></a>
  </ul>
  <ul id="col2">
    <a href="/oauth/signin_twitter"><li class="provider" id="twitter"></li><a>
    <a href="{{ aol }}"><li class="provider" id="aol"></li></a>
  </ul>
</div>
<div class="visualclear"></div>
{% endblock %}


