{% extends "../base.html" %}

{% block page_title %}PyDay Córdoba 2012 - Proponer una charla{% endblock %}

{% block above_content %}
<script type="text/javascript" src="static/js/utils.js"></script>
<p><a class="backtohome" href="/">Volver al inicio</a></p>
<div id="error-message" style="display: {{ showerror }};">
  <p class="error">{{ errormessage }}</p>
</div>
{% endblock %}

{% block content %}
<h2>Notas</h2>
<div class="description">
  <p>Las charlas deberán tener una duración de 40 minutos.</p>
  <p>Las propuestas de charlas se recibirán hasta el día viernes <span class="strong">24 de agosto</span> a última hora. Las charlas aceptadas se anunciarán el lunes <span class="strong">27 de agosto</span>.</p>
</div>

<h2>Proponer una charla</h2>
<form name="propose" action="" method="post" enctype="multipart/form-data" onsubmit="return validateFormTalk()">
  {{ form.as_p }}

  <p>
    <input type="submit" class="submit" value="Enviar datos">
  </p>
</form>
{% endblock %}