{% include "../header.html" %}

      <div id="page">
        <div id="frame">
          <script type="text/javascript" src="static/js/utils.js"></script>
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="error-message" style="display: {{ showerror }};">
            <p class="error">{{ errormessage }}</p>
          </div>

          <div id="content">
            <h2>Notas</h2>
            <div class="description">
              <p>Las charlas deberán tener una duración de 40 minutos.</p>
              <p>Las propuestas de charlas se recibirán hasta el día viernes <span class="strong">24 de agosto</span> a última hora. Las charlas aceptadas se anunciarán el lunes <span class="strong">27 de agosto</span>.</p>
            </div>

            <h2>Proponer una charla</h2>
            <form name="propose" action="" method="post" enctype="multipart/form-data" onsubmit="return validateFormTalk()">
              {{ form.as_p }}

              <p>
                <input type="submit" class="submit" value="Enviar datos">
              </p>
            </form>
          </div>
        </div>

        <div id="sidebar">
          <ul>
            <li><a class="menu" href="/about">Más info</a></li>
            <li><a class="menu" href="/venue">Cómo llegar</a></li>
            <li><a class="menu" href="/attendees">Asistentes</a></li>
            <li><a class="menu" href="/schedule">Programa</a></li>
            {% if not tshirt_req_ended %}
              <li><a class="menu" href="/tshirt">Remeras</a></li>
            {% endif %}
          </ul>

    {% include "../sponsors.html" %}

      </div>

  {% include "../footer.html" %}
