{% include "../header.html" %}

      <div id="page">
        <div id="frame">
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="content">
            <h2>Ser sponsor</h2>
            <div class="description">
              <p>El PyDay va a realizarse el 15 de septiembre del 2012 en Córdoba, de 8 a 19 hs. en la Facultad de Matemática, Astronomía y Física (FaMAF) de la Universidad Nacional de Córdoba. El evento tiene el objetivo de reunir a desarrolladores, entusiastas y empresarios del lenguaje de programación Python para contribuir con su crecimiento y con su divulgación.</p>
              <p>Puede contactar a los organizadores en <a href="mailto:contacto@pydaycba.com.ar">contacto@pydaycba.com.ar</a> si su compañía está interesada en apoyar este evento, ya sea con merchandising y/o una donación para patrocinar el evento, de la forma que prefiera de las enumeradas a continuación:</p>
            </div>
            
            <h3>Sponsor diamante (uno, $1000) <span class="full">(Agotado)</span></h3>
            <ul class="benefits">
              <li>Espacio de publicidad más grande en los banners del evento.</li>
              <li>Logo grande (priorizado) en: remera de los organizadores, material entregado a los asistentes, folletos, página del evento (categoría Diamante, primero y más grande, con enlace) y app del evento (con enlace a descripción).</li>
              <li>Espacio de publicidad destacado en el programa.</li>
              <li>Posibilidad de instalar un stand durante el evento (avisar con anticipación para que se reserve el espacio).</li>
              <li>Dar nombre a la sala principal del evento.</li>
              <li>Posibilidad de incorporar merchandising o cualquier tipo de folletería entre el material entregado a los asistentes.</li>
              <li>La empresa puede aportar merchandising para los sorteos a realizarse después de cada charla en el evento.</li>
              <li>Acceso a los datos de los asistentes inscriptos que lo hayan autorizado.</li>
            </ul>
              
            <h3>Sponsor platino (dos, $500) <span class="full">(Agotado)</span></h3>
            <ul class="benefits">
              <li>Espacio de publicidad mediano en los banners del evento.</li>
              <li>Logo mediano en: material entregado a los asistentes, folletos, página del evento (categoría Platino, con enlace) y app del evento (con enlace a descripción).</li>
              <li>Espacio intermedio de publicidad en el programa.</li>
              <li>Posibilidad de instalar un stand durante el evento (avisar con anticipación para que se reserve el espacio).</li>
              <li>Posibilidad de incorporar merchandising o cualquier tipo de folletería entre el material entregado a los asistentes.</li>
              <li>La empresa puede aportar merchandising para los sorteos a realizarse después de cada charla en el evento.</li>
              <li>Acceso a los datos de los asistentes inscriptos que lo hayan autorizado.</li>
              <li>Extra: Posibilidad de dar nombre a la segunda sala del evento, sólo disponible para un sponsor (+$100).</li>
            </ul>
            
            
            <h3>Sponsor oro ($300)</h3>
            <ul class="benefits">
              <li>Espacio de publicidad pequeño en los banners del evento.</li>
              <li>Logo pequeño en: folletos, página del evento (categoría Oro, con enlace) y app del evento (con enlace a descripción).</li>
              <li>Espacio pequeño de publicidad en el programa.</li>
              <li>La empresa puede aportar merchandising para los sorteos a realizarse después de cada charla en el evento.</li>
              <li>Acceso a los datos de los asistentes inscriptos que lo hayan autorizado.</li>
            </ul>
          </div>
        </div>

        <div id="sidebar">
          <ul>
            <li><a class="menu" href="/about">Más info</a></li>
            <li><a class="menu" href="/venue">Cómo llegar</a></li>
            <li><a class="menu" href="/attendees">Asistentes</a></li>
            <li class="menu unavailable">Programa</li>
            <li class="menu unavailable">Remeras</li>
          </ul>

    {% include "../sponsors.html" %}

      </div>

  {% include "../footer.html" %}
