{% include "../header.html" %}

      <div id="page">
        <div id="frame">
          <script type="text/javascript" src="static/js/utils.js"></script>
          <p><a class="backtohome" href="/">Volver al inicio</a></p>

          <div id="error-message" style="display: {{ showerror }};">
            <p class="error">{{ errormessage }}</p>
          </div>

          <div id="content">
            <h2>Inscripción</h2>
            <form name="register" action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
              {{ form.as_p }}

              <p>
                <label for="cv">CV:</label>
                <input type="file" name="cv" id="cv" class="upload">
              </p>

              <p>
                <input type="submit" class="submit" value="Enviar datos">
              </p>
            </form>
          </div>
        </div>

        <div id="sidebar">
          <ul>
            <li><a class="menu" href="/about">Más info</a></li>
            <li><a class="menu" href="/venue">Cómo llegar</a></li>
            <li><a class="menu" href="/attendees">Asistentes</a></li>
            <li class="menu unavailable">Programa</li>
            <li class="menu unavailable">Remeras</li>
          </ul>

    {% include "../sponsors.html" %}

      </div>

  {% include "../footer.html" %}
